node_modules/
dist/
build/
*.log
.env
.env.local
.DS_Store
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.angular/
coverage/
*.js.map

# Archivos PDF de pruebas técnicas
Prueba de Código (Lider Técnico).pdf
Prueba Refactorizacion de código (lider técnico).pdf
*.pdf
